<!DOCTYPE html>
<html {% if uses_appcache[site_name] %}manifest="/takatsugawa-zukan.appcache"{% endif %}> <head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href = "/stylesheets/main.css"/>
<title> {{title}} | {{site_titles[site_name]}}</title>
</head>
<body class="{{body_class}} {{background_class}}" {{background_data}}>
<nav>
	<ul>
        <li><a href="/home.html">ホーム</a></li><li><a href="/{{english_to_romaji[site_name]}}/ichiran.html">一覧</a></li><li>{%- if site_name == "plants" %}<a href="/shokubutsu-no-mikata/index.html">植物の見方</a>{% else %}<a href="/mamechishiki/index.html">豆知識</a>{% endif %}</li><li><a href="/sankoubunken.html">参考文献</a></li><li><a href="/about.html">このサイトについて</a></li>
	</ul>
</nav>
<div id="appcache-notifications"></div>

{% block content %}
{% endblock %}

<script src="/appcache-notify.js"></script>
</body> 
</html>
