{% extends "base.html" %}

{% set title = "このサイトについて" %}
{% block content %}

<main class="about-page">
<div class="acknowledgements">
<h1>高津川流域専用「植物図鑑」</h1>
<p>編集：特定非営利活動法人アンダンテ２１（理事長　豊田武雄）</p>
<p>編集人：渡辺勝美、構成：大賀俊彦、技術制作：Aaron Rubin</p>
<p>植物探査隊：吉崎佳慶、滝口素行、三保冨士夫</p>


</div>

<h2><a href="http://www.andante21.org">NPO法人「アンダンテ21」</a></h2>
<ul>
	<li><div>住所：</div><div>〒698-0032<br>島根県益田市水分町 18-10</div></li>
	<li><div>TEL：</div><div>0856-24-8661</div></li>
	<li><div>FAX：</div><div>0856-24-8661</div></li>
	<li><div>MAIL：</div><div>andante2100@gmail.com</div></li>
</ul>
<h2><a href="http://www.city.masuda.lg.jp/soshiki/kakuka.php?sec_sec1=129">益田地区広域市町村圏事務組合</a></h2>
<ul>
	<li><div>住所：</div><div>〒698-8650<br>島根県益田市常盤町1番1号</div></li>
	<li><div>TEL：</div><div>0856-31-0226(企画振興課)</div></li>
	<li><div>FAX：</div><div>0856-31-0315</div></li>
</ul>

</main>
{% endblock %}
