{% extends "base.html" %}

{% set title = "ホーム" %}
{% block content %}

<main class="home">
<h1>高津川流域水辺の植物図鑑へようこそ</h1>
<img id="home-image" src="" alt="">
<script>
    var tsuki = new Date().getMonth();
    var kisetsu;
    if (tsuki == 11 || tsuki == 0 || tsuki == 1) {
        kisetsu = "fuyu"
    } else if (tsuki == 8 || tsuki == 9 || tsuki == 10) {
        kisetsu = "aki"
    } else if (tsuki == 5 || tsuki == 6 || tsuki == 7) {
        kisetsu = "natsu"
    } else {
        kisetsu = "haru"
    }
    var imgUrl = "images/home-kisetsu/" + kisetsu + ".jpg"
    var imgElement = document.getElementById("home-image")
    imgElement.src = imgUrl
</script>
<p>島根県の植物目録（島根大学・島根県立三瓶自然館2011）によると、2421種の植物が島根県内でリストアップされています。
  このうち、1963年に益田高等学校によって発行された高津川流域総合学術調査には、1086種記載されています。
  そのリストに記載されていないものや新たに発見されたもの、侵入外来種等を含めれば千数百種が高津川や
  益田川水系地域に生育していると推定されます。対象を石見地方に広げれば、「西部石見の植物目録」（森山1971）などがありますが、
  これ以降40年以上にわたって島根県西部の植物リストは作られていません。</p>
  <p>残念ながら、過去に記載された植物の内すでに絶滅した種もあります。
　高津川や益田川流域と益田・鹿足圏域の植物相の今を記録するためにデジタル植物図鑑作成に取り掛かりました。
まずは手始めに水辺の植物から取り掛かります。目標は圏域の全ての植物種を網羅することです。
長いプロジェクトになりますが皆様のご協力をお願いします。</p>
<p>さあ、みんなで探検してみよう！！</p>

<a class="jumbo-link" href="/shokubutsu/ichiran.html">図鑑へGO！！</a>

<h2>ごあいさつ</h2>
<p>　
  この高津川流域”水辺の植物図鑑”は4年連続清流日本一・高津川及び隣接する益田川に生息する
  植物を中心とした資料データを一元化し、生態系変化の時系列比較となる基礎資料作成を
  目的とする自然環境保全事業の一環として作成いたしました。
</p>
<p>
　図鑑は小学校高学年に理解できるように工夫しています。学校でのふるさと教育教材やモバイル端末を
通じた現場での植物確認など幅広い利用によって、次世代を担う地域の子供たちが生き物や川の魅力を見つけ
出し、地域への誇りと環境保全意識が高まることを期待しています。
</p>
<p>
  本コンテンツは地域環境保全活動を実践しているNPO法人アンダンテ21が中心になり、流域内各現場に赴き、
  採取・撮影した物のみで作成されております。たくさんのご協力によって発刊となりました。
</p>

<div class="signature">
<p>平成28年4月</p>
<p>発行者：益田地区広域市町村圏事務組合</p>
</div>
</main>

{% endblock %}
