{% extends "base.html" %}

{% set title = "参考文献" %}
{% block content %}

<main class="sankou-page">
<h1>参考文献リスト</h1>

<table>
<tr>
<th>題名</th>
<th>出版元</th>
<th>出版年</th>
</tr>
<tr>
<td>高津川流域総合学術調査</td>
<td>島根県立益田高等学校</td>
<td>1963</td>
</tr>
<tr>
<td>原色日本植物図鑑　草本編Ⅲ</td>
<td>保育社</td>
<td>1964</td>
</tr>
<tr>
<td>牧野新日本植物図鑑</td>
<td>北隆館</td>
<td>1967</td>
</tr>
<tr>
<td>日原の生物</td>
<td>日原町教育委員会</td>
<td>1973</td>
</tr>
<tr>
<td>野草検索図鑑１</td>
<td>学習研究社</td>
<td>1985</td>
</tr>
<tr>
<td>野草検索図鑑２</td>
<td>学習研究社</td>
<td>1985</td>
</tr>
<tr>
<td>野草検索図鑑３</td>
<td>学習研究社</td>
<td>1985</td>
</tr>
<tr>
<td>野草検索図鑑４</td>
<td>学習研究社</td>
<td>1985</td>
</tr>
<tr>
<td>野草検索図鑑５</td>
<td>学習研究社</td>
<td>1985</td>
</tr>
<tr>
<td>野草検索図鑑６</td>
<td>学習研究社</td>
<td>1985</td>
</tr>
<tr>
<td>原色牧野植物大図鑑</td>
<td>北隆館</td>
<td>1986</td>
</tr>
<tr>
<td>原色牧野植物大図鑑 続編</td>
<td>北隆館</td>
<td>1987</td>
</tr>
<tr>
<td>日本の野生植物１</td>
<td>平凡社</td>
<td>1989</td>
</tr>
<tr>
<td>日本の野生植物２</td>
<td>平凡社</td>
<td>1989</td>
</tr>
<tr>
<td>日本の野生植物３</td>
<td>平凡社</td>
<td>1989</td>
</tr>
<tr>
<td>日本の野生植物　木本編</td>
<td>平凡社</td>
<td>1993</td>
</tr>
<tr>
<td>植調雑草大鑑</td>
<td>全国農村教育協会</td>
<td>2015</td>
</tr>


</table>

</main>


{% endblock %}
