{% extends "base/mamechishiki.html" %}

{% block article %}
{% if site_name != "plants" %}
<ul>
	{% for mamechishiki_title in mamechishiki_titles[site_name] %}
	<li><a href="{{mamechishiki_title}}.html">{{mamechishiki_translations[mamechishiki_title]}}</li>
{% endfor %}
</ul>
{% else %}
<h1>準備中</h1>
{% endif %}
{% endblock %}
