{% extends "base.html" %}

{% set body_class = "plant-page" %}
{% set plant = plant_map[page_name] %}
{% set background_class = plant.kisetsu() %}
{% set title = plant.kana %}
{% from "detail-page-macros.html" import article_section %}
{% block content %}

<!--<script async src="plant_page.js"></script>-->

<main class="detail-page">
	<header class="plant-header">

	<img src="{{plant.image('ichiran')}}" alt="">

		<ul class="classification">
			<li>和名：{{plant.kana}}</li>
			<li>学名：{{plant.latin}}</li>
            <li>科：{{plant.ka}}</li>
			<li>種類：{{plant.type}}</li>
    		</ul>

        {% if plant.shokudoku and "不明" not in plant.shokudoku %}
        <table class = "shokudoku">
          <tr>
            {% for category in shokudoku %}
            <th>{{category}}</th>
            {% endfor %}
          </tr>
          <tr>
            {% for category in shokudoku %}
            <td>{{"&#x25EF;" if category in plant.shokudoku}}</td>
            {% endfor %}
          </tr>

        </table>

        {% endif %}
        <table class = "kaki">
          <tr>
            {% for month in range(1, 13) %}
            <th>{{month}}月</th>
            {% endfor %}
          </tr>
          <tr>
            {% for month in range(1, 13) %}
            <td>{{"&#x25EF;" if plant.blooms(month)}}</td>
            {% endfor %}
          </tr>
        </table>

        <table class = "seiikubasho">
          <tr>
            {% for basho in seiikubasho %}
            <th>{{basho}}</th>
            {% endfor %}
          </tr>
          <tr>
            {% for basho in seiikubasho %}
            {% if basho == "湿地・岸辺" and plant.kishibe_type %}
            <td>&#x25EF;*</td>
            {% else %}
            <td>{{"&#x25EF;" if plant.inhabits(basho)}}</td>
            {% endif %}
            {% endfor %}
          </tr>
        </table>

        {% if plant.kishibe_type %}
        <div>*{{plant.kishibe_type}}</div>
        {% endif %}
      </header>

      <article>

        {% if plant.type != "シダ類" %}

        {% call article_section() %}
        <ul>
          <li>色：{{plant.iro}}</li>
          {% if plant.ha_tsukikata %}
          <li>葉のつきかた：{{plant.ha_tsukikata}}</li>
          {% endif %}
          <li>葉の形：{{plant.ha_katachi}}</li>
          {% if plant.kyoshi %}
          <li>鋸歯：{{plant.kyoshi}}</li>
          {% endif %}
          <li>花のつきかた：{{plant.hana_tsukikata}}</li>
          <li>花弁：{{plant.hanabira_setsumei}}</li>
        </ul>
        {% endcall %}
        {% endif %}


        <div class = "gallery">

        {% for image in plant.gallery_images() %}
            <img src = {{image}}>
        {% endfor %}

            <!--
          <div class = "large">
            {% for image in plant.large_images() %}
            <img src = {{image}}>
            {% endfor %}

          </div>

          <div class = "small">
            {% for image in plant.small_images() %}
            <img src = {{image}}>
            {% endfor %}
          </div>-->

        </div>

        {% block article %}

        {% endblock %}

      </article>
      <footer>
        <a href="ichiran.html" class="jumbo-link">一覧へ戻る</a>
      </footer>

      <script>
{% include 'ichiran-jumbo-link-script.js' %} 
      </script>

      </main>

      {% endblock %}
