{% extends "base.html" %}

{% set title = "植物の見方" %}
{% block content %}
<style>

@media (max-width: 500px) {
    a.jumbo-link {
        font-size: 10vw;
    }
}
a.jumbo-link {
    font-size: 1.5em;
}
</style>
<a href="/shokubutsu-no-mikata/index.html"><h1>植物の見方</h1></a>
<a class="jumbo-link" href="/images/pdf/hana-no-tsukuri.pdf">PDFをダウンロード</a>
<object data="/images/pdf/hana-no-tsukuri.pdf" type="application/pdf" height="1000px" width="100%">
</object>
{% endblock %}


